# Ignore all folders with data
*test
*train*
*val

# Ignore all notebooks
*.ipynb

# Ignore notebook checkpoints
.ipynb_checkpoints

# Include all notebooks that start with "Project_"
!Project_*.ipynb
